<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="background">
  <div class="container">
    <header class="header">
    <p class="font-size">Le journal d'Hafid</p>
    <p class="up">Confession intime d'un développeur web...</p>
    </header>
    <div class="menu">
      <ul>
      <li><%= link_to "Accueil", articles_path %></li>
      <li><%= link_to "Les dessous de charme" %></li>
      </ul>
    </div>
    <div class="page"> 
      <div id="main_content">
        <div id="header">

          <% if !user_signed_in? %>
            <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
          <% end %>

          <p>All Articles</p>
          
          <% if user_signed_in? %> 
            <div class="buttons"> 
              <button class="button"><%= link_to "New Article", new_article_path %></button> 
              <button class="button">Log Out</button> 
            </div> 
          <% end %>
        </div>
      </div>
     
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert") %>
        <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
